.container {
	@include flex(center);
	margin-bottom: 40px;

	@include media($mobile-bp) {
		flex-direction: column;
		align-items: baseline;
		gap: 4px;
		margin-bottom: 24px;
	}
}

.title {
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;

	@include media($mobile-bp) {
		font-size: 20px;
	}
}

.subTitle {
	font-size: 16px;
	font-weight: 300;
	max-width: var(--aside-width);
	width: 100%;

	@include media($mobile-bp) {
		max-width: unset;
		font-size: 12px;
	}
}
