.container {
	@include flex($justify: space-between);
	padding-top: 25px;
	padding-bottom: 55px;
	margin-top: auto;

	@include media($mobile-bp) {
		padding-bottom: 35px;
		flex-direction: column;
		align-items: center;
		gap: 16px;
	}

	a {
		all: unset;
		cursor: pointer;
		font-weight: 700;
	}

	p,
	a {
		color: var(--white);
	}
}
